<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<script src="../static/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        var $submit = $('.input_submit');
        $submit.click(function () {
            $.ajax({
                url:'http://localhost:5000/register',
                type:'GET',
                dataType:'html',
                headers:'Content-Type',
                success:function (response) {
                    $('#hello').innerHTML(response)
                    },
                error:function () {
                    alert('请求失败')
                }
            })
        })


    })
</script>
<body>
    <input type="submit" value="登 录" class="input_submit">
</body>
</html>